:root {
  /* color palette */
  --paqua: #3CB6D5;
  --porange: #FEC230;
  --pdarkblue: #175571;
  --pbrown: #A1561C;
  --ppurple: #823C47;
  --pgold: #C49E0D;
  --pdarkgray: #707070;
  --plightgray: #DDDDDD;
}

body {
  background-color: white;
  font-size: 20px;
  line-height: 34px;
  font-family: 'arial', 'Helvetica Neue', Helvetica, sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.stickymenu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100vw;
  background-color: rgba(60, 182, 213, .8);
  z-index: 5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: left;
}

.menublock {
  padding-left: 3rem;
  padding-right: 3rem;
  color: white;
}

.menuitem {
  padding-right: 15px;
}

.menulinks {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.hamburgermenu {
  margin-left: auto;
  margin-right: 1rem;
  display: none;
  position: relative;
}

.dropcontent {
  display: none;
  right: -30px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  min-width: 160px;
  padding: 1rem;
  z-index: 5;
}

.hamburgermenu:hover .dropcontent {
  display: block;
}

.headerimage {
  width: 100vw;
}

.aboutme {
  position: relative;
  width: 100vw;
  height: 6rem;
  color: white;
  background-color: var(--pdarkblue);
  text-align: center;
  line-height: 6rem;
  margin-bottom: 5rem;
}

.myimage {
  position: absolute;
  top: -3rem;
  left: 1rem;
}

.about {
  padding: 3rem;
}

.skillsbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  margin: 3rem;
}

.skillcard {
  border: 1px solid lightgrey;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 5px 5px rgba(128, 128, 128, .1);
}

.projectcard {
  margin: 3rem;
}

.project {
  background-color: transparent;
  width: 190px;
  height: 320px;
  perspective: 400px;
}

.flip {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1px solid lightgrey;
  position: relative;
  width: 100%;
  height: 100%;
  /* text-align: center; */
  transition: transform 1200ms;
  transform-style: preserve-3d;
}

.project:hover .flip {
  transform: rotateY(180deg);
}

.flipfront,
.flipback {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

.flipback {
  transform: rotateY(180deg);
  background-color: var(--lightgray);
}

.projectdescription {
  font-size: 12px;
  line-height: 14px;
  padding: 8px;

}

.cardtitleimage {
  height: 30px;
  display: inline-block;
  margin-right: 1rem;
}

.title {
  display: inline-block;
}

.cardtitle {
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: left;
  padding: 1rem;
}

.title1 {
  background-color: var(--porange);
}

.title2 {
  background-color: var(--paqua);
}

.title3 {
  background-color: var(--pdarkblue);
}

.title4 {
  background-color: var(--pgold);
  text-align: center;
}

.title5 {
  background-color: var(--ppurple);
}

.title6 {
  background-color: var(--pbrown);
}

.title7 {
  background-color: var(--pdarkblue);
}

.cardcontent {
  padding: 2rem;
}

.bullet {
  height: 1rem;

}

.bullettext {
  margin-left: 1rem;
}

.typeband {
  color: white;
  background-color: var(--pdarkgray);
  padding: 1rem;
}

.projectcontainer {
  background-color: var(--plightgray);
}

.projectimage {
  width: 100%;
}

.projectgrid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  grid-gap: 3rem;
  margin: 3rem;
}

.footer {
  width: 100vw;
  background-color: var(--pdarkblue);
  text-align: center;
  color: white;
  align-items: center;
}

.footerlinks {
  padding-top: 1rem;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media only screen and (max-width: 720px) {
  .menulinks {
    display: none;
  }

  .hamburgermenu {
    display: inline;
  }

  .skillsbox {
    grid-template-columns: 1fr
  }
}

@media only screen and (min-width: 721px) {
  .menulinks {
    display: flex;
  }
}